certifi==2025.7.14
charset-normalizer==3.4.2
docutils==0.21.2
grpcio==1.73.1
grpcio-tools==1.73.1
idna==3.10
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kivy-garden.radialslider==0.1.2
numpy==1.26.4
protobuf==5.29.5
Pygments==2.19.2
pypiwin32==223
pytz==2025.2
pywin32==311
requests==2.32.4
urllib3==2.5.0
